.machados {
  padding-bottom: 80px;
}

.machados h2 {
  padding-bottom: 32px !important;
}

.machados-title h2 {
  color: var(--cor-c13);
}

.machados-lista ul { 
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin: 0 auto;
  overflow-x: auto;
}

.machados-lista li {
  min-width: 400px;
}

.machados-lista a {
  display: block;
}

.machados-lista h3 {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

.machados-lista span {
  padding-left: 20px;
  color: var(--cor-c10);
}

.machados-lista h3::before {
  content: "";
  width: 12px;
  height: 12px;
  margin-right: 6px;
  display: inline-block;
  background: var(--cor-p5);
  transition: 0.2s ease-in-out;
}

.machados-lista a:hover h3::before {
  width: 16px;
}

@media (max-width:800px) {
  .machados {
    padding-bottom: 60px;
  }
}

@media (max-width:600px) {
  .machados {
    padding-bottom: 40px;
  }
  .machados h2 {
    padding-bottom: 20px !important;
  }
}