.intro-bg {
  background-color: var(--cor-b);
  box-shadow: inset 0 -120px var(--cor-w);
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.intro-info {
  display: grid;
  padding-bottom: 120px;
  place-content: start;
}

.intro img {
  object-fit: cover;
  height: 100%;
}

.intro h1 {
  max-width: 20ch;
  color: var(--cor-w);
}

.intro span {
  color: var(--cor-p5);
}

.intro p {
  max-width: 40ch;
  color: var(--cor-c6);
}

.intro .btn {
  justify-self: start;
}

@media (max-width: 600px) {
  .intro-bg {
    background: var(--cor-c13);
    box-shadow: none;
  }
  .intro {
    grid-template-columns: 1fr;
  }
  .intro-info {
    padding-bottom: 0;
  }
}
@media (max-width: 400px) {
  .intro-bg {
    background: var(--cor-c13);
  }
}